<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/AllCountries">All Countries</a></li>
                <li><a href="/MyRecords">All /My Records</a></li>



            </ul>
        </nav>
    </header>
    <main>
        <section>
            <% data.forEach(element=>{%>
                <div>
                    <h3>Date :
                        <%= element.Date %>
                    </h3>
                    <h4>Cases:
                        <%= element.Cases %>
                    </h4>
                </div>

                <% }) %>

        </section>
    </main>
</body>

</html>